body {
    background: #fff url(../img/bg.jpg);
    background-size: cover;
    background-position: 50%;
    font-family: 'Oswald', cursive;
}
.container {
    max-width: 95%;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 15px 20px;

}

button, button:hover, button:focus, button:active, button:visited {
    padding: 10px 40px;
    background-color: rgb(5, 102, 141);
    color: #fff;
    border-radius: 8px;
    font-size: 16pt;
    text-transform: uppercase;
    border: 0;
    margin: 10px 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: none;
}
button:hover, button:focus, button:active {
    background-color: rgb(5, 83, 114);
}


/* === heading === */
/* =============== */
h1, h3 {
    margin: 10px 0;
    color: rgb(5, 102, 141);
}

h1 {
    font-size: 24pt;
}

h3 {
    font-size: 16pt;
}

/* === score panel === */
/* =================== */

.score-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.score-panel .status {
    margin: 0 20px 20px 0;
}

.score-panel span {
    display: block;
}

.control .shuffle, .control .solve {
    background-color: #ccc;
}
.control .shuffle:hover, .control .shuffle:focus, .control .shuffle:active, .control .solve:hover, .control .solve:focus, .control .solve:active {
    background-color: #bbb;
}

.rating i, .ratingfinal i {
    color: rgb(5, 102, 141);
}
.rating i.inactive, .ratingfinal i.inactive {
    color:#aaa;
}


/* === game panel === */
/* ================== */

.cards {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;

}

.card {
    display: block;
    color: #fff;
    width:  22%;
    height: 80px;
    margin-bottom: 40px;
    position: relative;
    perspective: 400px;
}

.card div {
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    transition-duration: 0.7s;
    border-radius: 8px;
    box-shadow: 5px 5px 19px -4px #999;
}

/* use scene for scaling hover effect */
.card .scene {
    position: relative;
    transition-duration: 0.3s;
}

.card .front {
    background-color: rgb(5, 102, 141);
    transform: rotateY(180deg);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 22pt;
    display: flex;
}

.card .back {
    background-color: rgb(119, 216, 255);
    transform: rotateY(0);
}

.card.open .front {
    transform: rotateY(0);
}
.card.open .back {
    transform: rotateY(180deg);
}

.card:hover .scene {
    transform: translateZ(30px);
}

.card.correct .front {
    background-color: rgb(118, 148, 11);
}

.card.solved .front {
    background-color:#ccc;
}

/* === modal === */
/* ============= */
.modal {
    position: absolute;
    background-color: #fff;
    padding: 60px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 8px 8px 26px -16px;
    transition-duration: 0.8s;
}

.modal.hidden {
    top: -100%;
}

.modal .restart {
    margin: 10px 0;
}


/* === responsive === */

@media screen and (max-width: 431px) {
    button {
        width: 100%;
        margin: 5px 0;
    }
}

@media screen and (min-width: 432px) {
    .card {
        height: 100px;
    }
    .card .front {
        font-size: 30pt;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .card {
        width: 140px;
        height: 140px;
    }
    h1, h3 {
        display: inline;
        font-size: 48pt;
    } 
    h3 {
        margin-left: 1em;
        font-size: 32pt;
    }
    .card .front {
        font-size: 40pt;
    }
    .modal {
        padding: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 980px;
    }
    .card {
        width: 200px;
        height: 200px;
    }
}